[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
tqdm = "*"
sklearn = "*"
gensim = "*"
seaborn = "*"
plotly = "*"
wordcloud = "*"
networkx = "*"
ipython = "*"
pyLDAvis = "*"
Pillow = "*"
pytest = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
